/* body {
    /* background: linear-gradient(to right, #81BAEE, #81BAEE, #6173ED, #05226A); */
    background: #81BAEE;
} */

.header {
    background: #699BF7;
}

/* .home {
    position: relative;
    height: 100%;
} */